.nav {
  display: flex;
  position: sticky;
  background-color: $yellow;
  top: 0;
  height: 45px;
  padding-top: 5px;
  padding-bottom: 5px;

  &__text {
    font-family: $primary-font;
    font-size: $big;
    color: $black;
  }

  &__panel {
    $align-items-value: center;

    &--left {
      $justify-content-value-small-resolution: flex-start;
      $justify-content-value-big-resolution: space-between;
      @include flex-row-container(
        1,
        $align-items-value,
        $justify-content-value-small-resolution
      );

      @media (min-width: 768px) {
        @include flex-row-container(
          2,
          $align-items-value,
          $justify-content-value-big-resolution
        );
      }
    }

    &--right {
      $justify-content-value: space-evenly;
      @include flex-row-container(
        1,
        $align-items-value,
        $justify-content-value
      );
    }
  }

  &__website-name {
    @extend .nav__text;
    text-decoration: none;
    text-align: center;
    margin-left: 20px;
  }

  &__searchbox {
    display: none;
    @media (min-width: 768px) {
      display: flex;
      flex: 1;
      margin-left: 20px;
      margin-right: 10px;
    }
  }

  &__search-icon {
    margin-left: 20px;
    margin-right: 10px;
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__link {
    @extend .nav__text;
    text-decoration: none;
    border: 1px solid $yellow;
    padding: 5px;
    &:hover {
      border-color: $black;
    }
    &:active,
    &.active {
      background-color: $black;
      transition: 0.5s ease-out;
      color: $yellow;
    }
  }
}
