.searchfield {
  flex: 1;
  height: 40px;
  font-family: $primary-font;
  font-size: $normal;
  font-weight: bold;
  border-width: 1px;
  border-color: $black;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
